@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: #f0f4f7;
}
a {
  text-decoration: none;
}
.full-width {
  width: 100%;
}
.fix-width {
  width: 1024px;
  overflow: hidden;
  margin: 0 auto;
}
.flx-box {
  display: flex;
  justify-content: space-between;
}
#header {
  background: linear-gradient(to right, #ff416c, #e6583f);
  padding: 10px 0;
}
#header .logo img {
  width: 40px;
  height: 40px;
}
#header .menu {
  line-height: 40px;
}
#header .menu span a {
  padding: 6px 20px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
}

#header .menu span a:hover {
  background-color: aqua;
  transition: all 0.3 ease;
}
#main-content {
  margin: 5rem 0;
}
.mt-5 {
  margin-top: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  /* justify-content: space-between; */
}
.card {
  width: 30%;
  background: #fff;
  border: 1px solid #fbfbfb;
  transition: 0.3s;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -1px 2px 10px 3px rgba(184, 177, 177, 0.68);
  -webkit-box-shadow: -1px 2px 10px 3px rgb(224 224 224 / 68%);
  -moz-box-shadow: -1px 2px 10px 3px rgba(184, 177, 177, 0.68);
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.25);
}
