@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f0f4f7;
}
a {
  text-decoration: none;
}
.mt-50 {
  margin-top: 50px;
}
.mt-40 {
  margin-top: 40px;
}
.full-width {
  width: 100%;
}
.fix-width {
  width: 1024px;
  margin: 0 auto;
}
#header {
  background: linear-gradient(to right, #ff416c, #e6583f);
}
.flx {
  display: flex;
  justify-content: space-between;
}
#header .logo img {
  width: 40px;
  height: 40px;
}
#header .manu {
  line-height: 45px;
}
#header .manu nav span a {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 20px;
  border-radius: 20px;
}
#header .manu nav span a:hover {
  background-color: aqua;
  color: #fff;
}
.row {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 20px;
}
.card {
  background-color: #fff;
  padding: 20px;
  font-size: 0.75rem;
  line-height: 25px;
  border-radius: 10px;
  transition: all 0.9s ease;
}
.card .media {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}
.card .media img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.card .media h3 {
  font-size: 1.25rem;
}
.card .post-img img {
  width: 100%;
}
.card .post-content {
  margin-top: 5px;
}
.card > a {
  display: block;
  text-align: center;
  background-color: #ff416c;
  border-radius: 2px;
  color: #fff;
  margin-top: 5px;
  transition: all 0.5s ease;
  border: 1px solid #ff416c;
}
.card > a:hover {
  border: 1px solid #ff416c;
  background-color: #fff;
  color: #ff416c;
}
.card:hover {
  background-color: #fbfbfb;
  color: #000;
  /* transform: scale(1); */
  /* transform: translate3d(42px, -62px, -135px); */
}
/* .hover-1:hover {
  background-color: #fdeaf0;
  color: #000;
  transform: scale(1.05);
  transform: translate3d(42px, -62px, -135px);
}
.hover-2:hover {
  background-color: green;
  color: #000;
  transform: scale(1.05);
  transform: translate3d(42px, -62px, -135px);
  transform: translate(-50%, 5%);
}
.hover-3:hover {
  background-color: blue;
  color: #000;
  transform: scale(1.05);
  transform: translate3d(42px, -62px, -135px);
} */

/* -------- style for table -------- */
.card-table {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid #f5f5f5;
  padding: 8px;
  font-size: 12px;
}
.table > tbody > tr > td a {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.a-flx {
  display: flex;
}
/* ------- style for card-create-post ------- */
.flx-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-create-post {
  width: 65%;
  background-color: #fff;
  border-radius: 4px;
  padding: 2rem;
}
.card-create-post .input-group {
  width: 100%;
  padding: 10px 0;
}
.card-create-post .input-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}
.card-create-post .input-group .input {
  width: 100%;
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 4px;
  display: block;
  background-clip: padding-box;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card-create-post .input-group .input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff416c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
}
.submit-btn {
  width: 100%;
  padding: 10px;
  outline: 0;
  background-color: #ff416c;
  border-color: #ff416c;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
}
.submit-btn:hover {
  border: 1px solid #ff416c;
  background-color: #fff;
  color: #ff416c;
}
.submit-btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
}
